{% extends 'main/base.html' %}
{% load static %}

<!--SEO-->
{% block title %}{{object.name|title}}{% endblock  %}
{% block description %}{% endblock  %}
{% block keywords %}{% endblock  %}
<!--CSS-->
{% block extend_header %}{% endblock %}
<!--JS-->
{% block extend_footer %}{% endblock  %}


{% block content %}
 

    <!--==================== Portfolio Detail ====================-->

<section class="detail section" >
    <div class="detail__container container">
        <h2>{{object.name|title}}</h2>
        <p>{{object.description}}</p>
        <div class="detail">
            <div class="video">
                <video id="video"><source src="{{object.demo.url}}" type="video/mp4" />
            </div>
        </div>
        
    </div>
</section>

{% endblock %}