{% extends 'main/base.html' %}
{% load static %}

<!--SEO-->
{% block title %}Skills{% endblock  %}
{% block description %}{% endblock  %}
{% block keywords %}{% endblock  %}
<!--CSS-->
{% block extend_header %}{% endblock %}
<!--JS-->
 {% block extend_footer %}{% endblock  %}


{% block content %}
 <!--==================== SKILLS ====================-->
        <section class="skills section" id="skills">
            <h2 class="section__title">Skills</h2>
            <span class="section__subtitle">Trình độ chuyên môn</span>
            <div class="skills__container container grid">
                <div>
                    <!--==================== SKILLS 1====================-->
                    <div class="skills__content skills__open">
                        <div class="skills__header">
                            <i class="uil uil-programming-language skills__icon">
                            </i>
                            <div>
                                <h1 class="skills__title">Programme</h1>
                                <span class="skills__subtitle">Kỹ năng lập trình</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
                        <div class="skills__list grid">
                            {% for sk in me.userprofile.skills.all %}
                            {% if sk.sort_id == "PR" %}
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">{{sk.name}}</h3>
                                    <span class="skills__number">{{sk.score}}</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__score " style="width: {{sk.score}}%"></span>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <!--==================== SKILLS 2====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">
                            <i class="uil uil-swatchbook skills__icon">
                            </i>
                            <div>
                                <h1 class="skills__title">Design</h1>
                                <span class="skills__subtitle">Các kỹ năng thiết kế</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
                        <div class="skills__list grid">
                             {% for sk in me.userprofile.skills.all %}
                            {% if sk.sort_id == "DS" %}
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">{{sk.name}}</h3>
                                    <span class="skills__number">{{sk.score}}</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__score " style="width: {{sk.score}}%"></span>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div>
                    <!--==================== SKILLS 3====================-->
                    <div class="skills__content skills__close">
                        <div class="skills__header">
                            
                           <i class="fa-solid fa-person skills__icon"></i>

                            </i>
                            <div>
                                <h1 class="skills__title">Kỹ năng mềm</h1>
                                <span class="skills__subtitle">Các kỹ năng khác ngoài lập trình và thiết kế</span>
                            </div>
                            <i class="uil uil-angle-down skills__arrow"></i>
                        </div>
                        <div class="skills__list grid">
                             {% for sk in me.userprofile.skills.all %}
                            {% if sk.sort_id == "SS" %}
                            <div class="skills__data">
                                <div class="skills__titles">
                                    <h3 class="skills__name">{{sk.name}}</h3>
                                    <span class="skills__number">{{sk.score}}</span>
                                </div>
                                <div class="skills__bar">
                                    <span class="skills__score " style="width: {{sk.score}}%"></span>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <!--==================== PROJECT IN MIND ====================-->
        <section class="project section">
            <div class="project__bg">
                <div class="project__container container grid">
                    <div class="project__data">
                        <h2 class="project__title">You have new project</h2>
                        <p class="project__description">Liên lạc cho tôi và bạn sẽ nhận được thuê bao quý khách</p>
                        <a href="{% url 'main:contact' %}" class="button button--flex button--white">
                            Contact me
                            <i class="uil uil-message project__icon button__icon"></i>
                        </a>
                    </div>
                    <img src="{% static 'images/project.png' %}" alt="" class="project__img">
                </div>
            </div>

        </section>
{% endblock %}